.myMOUSE {
    cursor:pointer;
}
.clear{
  clear: both;
}
html{
  /*background-image: url(../img/未命名-1.png);
  background-repeat:no-repeat;
  background-size:100%;*/
}
body{
  margin: 0;
  /*opacity: 0.5;*/
  background-color: rgb(169,191,225);
}
.bs{
  position: fixed;
  margin: 25vh 0 0 0.8vw;
  width: 5vw;
}
.b_p{
  position: fixed;
  margin: 25vh 0 0 -30vw;
  width: 30vw;
}
.b_animation{
  position: fixed;
  margin: 25vh 0 0 1vw;
  width: 30vw;
  animation-name: b_p;
  animation-duration: 1s;
}
.b_animation_2{
  position: fixed;
  margin: 25vh 0 0 -30vw;
  width: 30vw;
  animation-name: b_p_2;
  animation-duration: 1s;
}
@keyframes b_p {
  0%{
    margin-left: -30vw;
  }
  100%{
    margin-left: 1vw;
  }
}
@keyframes b_p_2 {
  0%{
    margin-left: 1vw;
  }
  100%{
    margin-left: -30vw;
  }
}
.b_p_p{
  margin: 3.2vw 0vw 0 0vw;
  text-align: right;
  padding:0.05vw 1vw 0.05vw 0;
  font-size: 2vw;
  background-color:  rgb(0,90,131);
  color:  rgb(253,242,96);
  border-radius: 5vw;
  font-family:Microsoft JhengHei;
}
.b{
  width: 5vw;
  float: left;
  margin: 1vw 0 0 0;
}
 .b_2{
   width: 6.5vw;
   float: left;
   margin: 1vw 0 0 -0.25vw;;
 }
 .gsc-control-cse {
  position: absolute;
  padding: 0em!important;
  width: 40vw!important;
  height: auto;
  border: 0px!important;
  padding: 0px!important;
  background-color:rgba(0,0,0,0)!important;
  margin-left: 2vw!important;
  margin-top: 2vw!important;
}
header{
  margin: 0;
  width: 100vw;
  height: 60vw;
}
.img_look{
  width: 100vw;
  margin: 0;
}
.position{
  position: absolute;
  width: 100vw;
}
ul{
	margin:0;
	padding: 0;
  float: right;
  width: 20.5vw;
}
li{
	list-style: none;
  float: left;
  margin-top: 2vw;
}
.img_user{
  width: 4.5vw;
  margin-right: 2vw;
  margin-top: 0.3vw;
}
.img_chat{
  width: 4.5vw;
  margin-right: 2vw;
  margin-top: 1vw;
}
.img_home{
  width: 4.5vw;
  margin-right: 2vw;
}
.head_img_ticket{
  width: 15vw;
  position: absolute;
  margin: 23vw 0 0 25vw;
}
.head_img_ticket_a{
  animation: ticket 2s infinite linear;
}
@keyframes ticket {
  0%{
    margin: 23vw 0 0 25vw;
		transform: rotate(0deg);
  }
  25%{
    margin: 20vw 0 0 29vw;
		transform: rotate(20deg);
  }
  50%{
    margin: 23vw 0 0 25vw;
		transform: rotate(0deg);
  }
  75%{
    margin:20vw 0 0 21vw;
		transform: rotate(-20deg);
  }
  100%{
    margin: 23vw 0 0 25vw;
		transform: rotate(0deg);
  }
}
.img_down{
  width: 27vw;
  position: fixed;
  margin: 82vh 0 0 35.5vw;
  z-index: 9;
}
.img_arrow{
  position: fixed;
  width: 5vw;
  margin: 79vh 0 0 57vw;
  z-index: 10;
}
.img_time{
  float: none;;
  margin: 10vw 0 0 5vw;
  width: 88vw;
}
.shadow_2{
 position: absolute;
 height: 88vw;
 width: 45vw;
 opacity: 0.5;
 margin: 37.2vw 0 0 26.5vw;
 transform: rotate(270deg);
}
.p_time{
  cursor: default;
  float: none;
  margin: 2vw 0vw 2.8vw 25vw;
  font-family:Microsoft JhengHei;
  font-weight:bold;
  width: 45vw;
}
.p_time_up{
  margin-top: 0vw;
  font-size: 3vw;
}
.p_time_p{
  margin:0vw 0 0 0;
}
.p_time_top{
  padding-top: 1.5vw;
}
.p_time_r{
  float: right;
}
 .p_time_down{
   margin: 13vw 0 0vw 0vw;
   font-size: 2vw;
 }
.p_time_d{
  margin: 0.5vw 0 0 0;
}
.img_where{
  height: 49vw;
  float: none;
  padding: 10vw 0 0 5vw;
  width: 88vw;
}
.shadow{
 display: none;
 height: 88vw;
 width: 20vw;
 position: absolute;
 opacity: 0.5;
 margin:0vw 0vw 0vw 0vw;
 transform: rotate(0deg);
}
.shadow_d{
  display: block;
 height: 22vw;
 width: 88vw;
 position: absolute;
 opacity: 0.5;
 margin:59vw 0vw 0vw 5vw;
 transform: rotate(0deg);
}
.p_where{
  position: absolute;
  width: 60vw;
  cursor: default;
  float: none;
  margin: 62vw 0 0 30vw;
  font-size: 3vw;
  font-family:Microsoft JhengHei;
  font-weight:bold;
  z-index: 1;
}
.p_where_0{
  display: block;
  opacity: 0;
  width: 60vw;
  cursor: default;
  float: left;
  margin: 7vw 0 0 17vw;
  font-size: 3vw;
  font-family:Microsoft JhengHei;
  font-weight:bold;
  z-index: 1;
}
.p_where_p{
  margin: 1vw 0 0 0;
}
.p_where_2{
  margin: 1vw 0 0 2vw;
}
.history{
  margin-bottom: 14.8vw;
}
.history_title{
  margin: 0;
  cursor: default;
  padding: 9vw 0 3vw 0;
  text-align: center;
  color: white;
  font-family:Microsoft JhengHei;
  font-size: 4vw;
}
.balloon{
  margin: 0vw 0 0 32vw;
  width: 33vw;
}
.line{
  width: 2px;
  height: 40vw;
  margin: 19.5vw 0 0 49.6vw;
  position: absolute;
  background-color: black;
  z-index:-1;
/*  animation: line  10s infinite;*/
  /*animation-name: line;
  animation-duration:10s;*/
}
@keyframes line {
  0%{
   height: 0vw;
  }
  100%{
   height: 230vw;
  }
}
.man{
  display: none;
  position: fixed;
  margin: 15vw 0 0 42vw;
  /*position: absolute;
  margin: 12.5vw 0 0 42vw;*/
  z-index: 7;
  width: 17vw;
/*  animation: man  10s infinite;*/
/*  animation-name: man;
  animation-duration:10s;*/
}
.block{
  display: block;
}
@keyframes man {
  0%{
   margin: 12.5vw 0 0 42vw;
  }
  100%{
   margin: 238vw 0 0 42vw;
  }
}
.right_one{
  margin: 0vw 0 0 44.5vw;
}
.right{
  margin: 7vw 0 0 44.5vw;
}
.left{
  float: none;
  margin: 7vw 0vw 0 44.5vw;
}
.history_img{
  width: 10vw;
}
.history_img:hover{
/*  animation: mymove 1s infinite;
  animation-direction:alternate;*/
}
@keyframes mymove {
    from {
      width: 6vw;
    }
    to {
      width: 7vw;
    }
}
.history_p{
  position: absolute;
  height: 4vw;
}
.history_p_r{
  margin: 3vw 0 0 3vw;
}
.history_p_l{
  float: none;
  margin: 2vw 0 0 -40vw;
  padding-top: 1vw;
}
.img_line_p{
  position: absolute;
  background-color: black;
  height: 2px;
  width: 8.5vw;
  margin: 5vw 0 0 4vw;
  z-index: -1;
}
.p_line_img{
  position: absolute;
  background-color: black;
  height: 2px;
  width: 8.5vw;
  margin: 12vw 0 0 42vw;
  z-index: -1;
}
.map{
  margin-left: 5vw;
  width: 88vw;
}
.t_back{
  display: none;
  margin: 10vw 0 10vw 3.7vw;
  width: 30vw;
  height: 51.35vw;
  background-color:black;
}
.img_ticket{
  display: none;
  margin-left: 7vw;
  width: 15.7vw;
}
.img_ticket2{
  margin: 10vw 0 0 5vw;
  width: 88vw;
}
.p_ticket{
  position: absolute;
  z-index: 1;
  margin-left: 13vw;
  padding-top: 42vw;
  font-family:Microsoft JhengHei;
  font-weight:bold;
  width: 72vw;
}
.p_ticket_2{
  display: block;
  opacity: 0;
  margin-left: 5vw;
  margin-top: 15vw;
  font-family:Microsoft JhengHei;
  font-weight:bold;
}
.big_ticket{
  margin: 6vw 0 0 5vw;
  font-size:3.5vw;
}
.m_ticket{
  margin: 1vw 0 0 8vw;
  font-size:2.5vw;
}
.m_ticket_r{
  margin-left: 12vw;
  font-size: 2vw;
}
.go_ticket{
  font-size:3vw;
  margin: 1.5vw 0 0 50vw;
  padding: 0.6vw 4.8vw;
  background-color:  rgb(0,90,131);
  color:  rgb(253,242,96);
  border-radius : 10px;
}
.go_ticket:hover{
  background-color:  rgb(253,242,96);
  color:  rgb(0,90,131);
}
.shadow_3{
  display: none;
  position: absolute;
  margin: 0vw 0 0 33.71vw;
  height: 51.35vw;
  width: 61.5vw;
  opacity: 0.5;
}
.shadow_d_2{
  display: block;
  position: absolute;
  margin: 46vw 0 0 5vw;
  height: 53vw;
  width: 88vw;
  opacity: 0.5;
}
footer{
  width: 100vw;
  height: 10vw;
  background-color: rgb(164,0,0);
}
footer img{
  float: right;
  width: 5.5vw;
  margin-top: 2.5vw;
  margin-right: 3vw;
}
.op0{
  opacity: 0;
}
.op1{
  opacity: 1;
}
.display{
  display: none;
}
.block{
  display: block;
}
