.myMOUSE {
    cursor:pointer;
}
.clear{
  clear: both;
}
html{
  /*background-image: url(../img/未命名-1.png);
  background-repeat:no-repeat;
  background-size:100%;*/
}
body{
  margin: 0;
  /*opacity: 0.5;*/
  background-color: rgb(169,191,225);
}

header{
  margin: 0;
  width: 100vw;
  height: 60vw;
}
.img_look{
  width: 100vw;
  margin: 0;
}
.position{
  position: absolute;
  width: 100vw;
}
ul{
	margin:0;
	padding: 0;
  float: right;
  width: 14vw;
}
li{
	list-style: none;
  float: left;
  margin-top: 2vw;
}
.img_chat{
  width: 4.5vw;
  margin-right: 2vw;
  margin-top: 1vw;
}
.img_home{
  width: 4.5vw;
  margin-right: 2vw;
}
.img_down{
  width: 27vw;
  position: fixed;
  margin: 82vh 0 0 35.5vw;
  z-index: 9;
}
.img_arrow{
  position: fixed;
  width: 5vw;
  margin: 79vh 0 0 57vw;
  z-index: 10;
}
.img_time{
  float: left;
  margin: 9.5vw 0 0 3.7vw;
  width: 54.8vw;
}
.p_time{
  cursor: default;
  float: right;
  padding: 9vw 4vw 0 0;
  font-family:Microsoft JhengHei;
  width: 33.5vw;
}
.p_time_up{
  font-size: 2.34vw;
}
.p_time_p{
  margin:0;
}
.p_time_top{
  margin-top: 1.2vw;
}
.p_time_r{
  float: right;
}
 .p_time_down{
   margin: 10.5vw 0 0 6vw;
   font-size: 1.8vw;
 }
.p_time_d{
  margin: 1vw 0 0 0;
}
.img_where{
  margin: 12.5vw 3.7vw 12.5vw 0;
  width: 54.8vw;
  height: 30.3vw;
  float: right;
}
.p_where{
  cursor: default;
  float: left;
  padding: 13vw 0 0 4vw;
  margin-top: 6vw;
  font-size: 2.34vw;
  font-family:Microsoft JhengHei;
}
.p_where_p{
  margin: 1vw 0 0 0;
}
.history{
  margin-bottom: 20vw;
}
.history_title{
  margin: 0;
  cursor: default;
  padding: 4.2vw 0 3vw 0;
  text-align: center;
  color: white;
  font-family:Microsoft JhengHei;
  font-size: 3.8vw;
}
.balloon{
  margin: 0vw 0 0 32vw;
  width: 33vw;
}
.line{
  width: 4px;
  height: 0vw;
  margin: 19.5vw 0 0 49.6vw;
  position: absolute;
  background-color: black;
  z-index:-1;
/*  animation: line  10s infinite;*/
  /*animation-name: line;
  animation-duration:10s;*/
}
@keyframes line {
  0%{
   height: 0vw;
  }
  100%{
   height: 230vw;
  }
}
.man{
  position: absolute;
  margin: 12.5vw 0 0 42vw;
  width: 17vw;
/*  animation: man  10s infinite;*/
/*  animation-name: man;
  animation-duration:10s;*/
}
@keyframes man {
  0%{
   margin: 12.5vw 0 0 42vw;
  }
  100%{
   margin: 238vw 0 0 42vw;
  }
}
.right_one{
  margin: 0vw 0 0 46.5vw;
}
.right{
  margin: 20vw 0 0 46.5vw;
}
.left{
  float: right;
  margin: 7vw 46.5vw 0 0;
}
.history_img{
  width: 6vw;
}
.history_img:hover{
  animation: mymove 1s infinite;
  animation-direction:alternate;
}
@keyframes mymove {
    from {
      width: 6vw;
    }
    to {
      width: 7vw;
    }
}
.history_p{
  height: 3.2vw;
}
.history_p_r{
  margin-left: 8.5vw;
  padding-bottom: 1vw;
}
.history_p_l{
  float: left;
  margin-right: 8.5vw;
  padding-top: 1vw;
}
.img_line_p{
  position: absolute;
  background-color: black;
  height: 4px;
  width: 8.5vw;
  margin: 3vw 0 0 5.5vw;
  z-index: -1;
}
.p_line_img{
  position: absolute;
  background-color: black;
  height: 4px;
  width: 8.5vw;
  margin: 10vw 0 0 38.5vw;
  z-index: -1;
}
footer{
  width: 100vw;
  height: 15vw;
  background-color: rgb(164,0,0);
}
footer img{
  float: right;
  width: 5.5vw;
  margin-top: 2.5vw;
  margin-right: 3vw;
}
